In [1]:
import pandas as pd
data = pd.read_csv('xcatPlanar.txt', sep=" ", header=None)

In [2]:
data

       0            1            2            3
0   time        liver      kidneys       spleen
1   0.00         0.00         0.00         0.00
2    4.7  37.13619927  43.86436275  31.08393858
3  23.35  27.53172298  37.87602762  26.02304769
4   72.2   17.6219995  21.47487835  17.39174822
5  114.0  11.99805789  13.21152523  11.76264519

In [3]:
data['2']

KeyError: '2'

In [4]:
data.columns='A B C D'.split()

In [5]:
            data['A']

0     time
1     0.00
2      4.7
3    23.35
4     72.2
5    114.0
Name: A, dtype: object

In [6]:
data.index=

SyntaxError: invalid syntax (<ipython-input-6-d0dca6ea4c7f>, line 1)

In [7]:
data['A':1]

TypeError: cannot do slice indexing on <class 'pandas.indexes.range.RangeIndex'> with these indexers [A] of <type 'str'>

In [8]:
data.A

0     time
1     0.00
2      4.7
3    23.35
4     72.2
5    114.0
Name: A, dtype: object

In [9]:
data.A.1

SyntaxError: invalid syntax (<ipython-input-9-3318435f77b0>, line 1)

In [10]:
data['A','0']

KeyError: ('A', '0')

In [11]:
data

       A            B            C            D
0   time        liver      kidneys       spleen
1   0.00         0.00         0.00         0.00
2    4.7  37.13619927  43.86436275  31.08393858
3  23.35  27.53172298  37.87602762  26.02304769
4   72.2   17.6219995  21.47487835  17.39174822
5  114.0  11.99805789  13.21152523  11.76264519

In [12]:
data.iloc[2:5]

       A            B            C            D
2    4.7  37.13619927  43.86436275  31.08393858
3  23.35  27.53172298  37.87602762  26.02304769
4   72.2   17.6219995  21.47487835  17.39174822

In [13]:
data.iloc[2:6]

       A            B            C            D
2    4.7  37.13619927  43.86436275  31.08393858
3  23.35  27.53172298  37.87602762  26.02304769
4   72.2   17.6219995  21.47487835  17.39174822
5  114.0  11.99805789  13.21152523  11.76264519

In [14]:
data.iloc[1]

A    0.00
B    0.00
C    0.00
D    0.00
Name: 1, dtype: object

In [15]:
data.iloc[1:]

       A            B            C            D
1   0.00         0.00         0.00         0.00
2    4.7  37.13619927  43.86436275  31.08393858
3  23.35  27.53172298  37.87602762  26.02304769
4   72.2   17.6219995  21.47487835  17.39174822
5  114.0  11.99805789  13.21152523  11.76264519

In [16]:
data.iloc[:1]

      A      B        C       D
0  time  liver  kidneys  spleen

In [17]:
data.iloc[2:6,1:4]

             B            C            D
2  37.13619927  43.86436275  31.08393858
3  27.53172298  37.87602762  26.02304769
4   17.6219995  21.47487835  17.39174822
5  11.99805789  13.21152523  11.76264519

In [18]:
data.iloc[2:6,1:4]*5

,B,C,D
2,37.1361992737.1361992737.1361992737.1361992737...,43.8643627543.8643627543.8643627543.8643627543...,31.0839385831.0839385831.0839385831.0839385831...
3,27.5317229827.5317229827.5317229827.5317229827...,37.8760276237.8760276237.8760276237.8760276237...,26.0230476926.0230476926.0230476926.0230476926...
4,17.621999517.621999517.621999517.621999517.621...,21.4748783521.4748783521.4748783521.4748783521...,17.3917482217.3917482217.3917482217.3917482217...
5,11.9980578911.9980578911.9980578911.9980578911...,13.2115252313.2115252313.2115252313.2115252313...,11.7626451911.7626451911.7626451911.7626451911...

In [19]:
new = data.iloc[2:6,1:4]

In [20]:
new*5

,B,C,D
2,37.1361992737.1361992737.1361992737.1361992737...,43.8643627543.8643627543.8643627543.8643627543...,31.0839385831.0839385831.0839385831.0839385831...
3,27.5317229827.5317229827.5317229827.5317229827...,37.8760276237.8760276237.8760276237.8760276237...,26.0230476926.0230476926.0230476926.0230476926...
4,17.621999517.621999517.621999517.621999517.621...,21.4748783521.4748783521.4748783521.4748783521...,17.3917482217.3917482217.3917482217.3917482217...
5,11.9980578911.9980578911.9980578911.9980578911...,13.2115252313.2115252313.2115252313.2115252313...,11.7626451911.7626451911.7626451911.7626451911...

In [21]:
np.data*5

NameError: name 'np' is not defined

In [22]:
import numpy as np

In [23]:
np.data*5

AttributeError: 'module' object has no attribute 'data'

In [24]:
data[A].sum()

NameError: name 'A' is not defined

In [25]:
data['A'].sum()

'time0.004.723.3572.2114.0'

In [26]:
data[2:6]

       A            B            C            D
2    4.7  37.13619927  43.86436275  31.08393858
3  23.35  27.53172298  37.87602762  26.02304769
4   72.2   17.6219995  21.47487835  17.39174822
5  114.0  11.99805789  13.21152523  11.76264519

In [27]:
data[2:6] = data[2:6].astype(float)

In [28]:
data[2:6]*5

        A        B        C        D
2    23.5  185.681  219.322   155.42
3  116.75  137.659   189.38  130.115
4     361    88.11  107.374  86.9587
5     570  59.9903  66.0576  58.8132

In [29]:
data[2:6,1:4]*5

TypeError: unhashable type

In [30]:
data.iloc[2:6,1:4]*5

         B        C        D
2  185.681  219.322   155.42
3  137.659   189.38  130.115
4    88.11  107.374  86.9587
5  59.9903  66.0576  58.8132

In [31]:
data

       A        B        C        D
0   time    liver  kidneys   spleen
1   0.00     0.00     0.00     0.00
2    4.7  37.1362  43.8644  31.0839
3  23.35  27.5317   37.876   26.023
4   72.2   17.622  21.4749  17.3917
5    114  11.9981  13.2115  11.7626

In [32]:
data.iloc[2:6,1:4] = data.iloc[2:6,1:4]*5

In [33]:
data

       A        B        C        D
0   time    liver  kidneys   spleen
1   0.00     0.00     0.00     0.00
2    4.7  185.681  219.322   155.42
3  23.35  137.659   189.38  130.115
4   72.2    88.11  107.374  86.9587
5    114  59.9903  66.0576  58.8132

In [34]:
data.to_csv('xcatOrgans.txt')

In [35]:
data.iloc[1:6]

       A        B        C        D
1   0.00     0.00     0.00     0.00
2    4.7  185.681  219.322   155.42
3  23.35  137.659   189.38  130.115
4   72.2    88.11  107.374  86.9587
5    114  59.9903  66.0576  58.8132

In [36]:
data.to_csv('xcatOrgans.txt', index=False)

In [37]:
data.to_csv('xcatOrgans.txt', index=False, columns=False)

TypeError: 'bool' object is not iterable

In [38]:
data.to_csv('xcatOrgans.txt', index=False, index_col=False)

TypeError: to_csv() got an unexpected keyword argument 'index_col'

In [39]:
data.to_csv('xcatOrgans.txt', index=False, header=False)

In [40]:
data.to_csv('xcatOrgans.txt', index=False, header=False, sep=' ')